/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

#main-title{
  text-shadow: 2px 2px #3b0f00;
  text-align: center;
  font-family: Orbitron;
}

body{
  padding: 30px;
  background-color: #ff8f41;
  color: #713700;
  display: flex;
  flex-direction: column;
}
#faculty>ul>li{
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
}
/*example of grouping and id*/
.discipline, .course-number{
  font-weight: bold;
}

.section{
  border: 50px solid;
  background-color: #fff266;
  border-radius: 12px;
}

.validation{
  position: absolute;
  bottom: 0;
}
